@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* Instead of @apply bg-antique-white text-rich-brown font-renaissance */
  background-color: #030509; /* matches antique-white */
  color: #4a2c2a;            /* matches rich-brown */
  font-family: "Playfair Display", serif; /* or whatever font you prefer */
}
